<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Ng-Todo</h1>
    <p class="lead">A simple and fun todo list angular application.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">To Dos</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="todo in $ctrl.todos">
        <li><a href="#" uib-tooltip="{{todo.name}}">{{todo.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(todo)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="To Do" ng-model="$ctrl.newTodo.name">
      <p class="input-group">
       <input type="text" class="form-control" ng-model="$ctrl.newTodo.name" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
       <span class="input-group-btn">
         <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
       </span>
     </p>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add</button>
      </span>
    </p>
  </form>
</div>
